<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <title>Video Insights with LLMs</title>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Fetch YouTube video transcripts and ask AI-powered questions about the content. Utilize AI tools like OpenAI and Claude to gain insights from video transcripts with our smart application.">
  <meta name="keywords"
    content="YouTube transcripts, AI answers, video insights, OpenAI, Claude, Pinecone, vector store, question answering, LLM">
  <meta property="og:title" content="Get YouTube Video Transcripts & AI Answers">
  <meta property="og:description"
    content="Fetch YouTube video transcripts and get AI-generated insights powered by OpenAI and Claude.">
  <meta property="og:url" content="https://www.chatwithyoutube.info/">
  <meta property="og:type" content="website">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-adsense-account" content="ca-pub-7670323439433982"/>
  <meta name="google-site-verification" content="XlJZ2rpdeAOKXEgxdo7I1syq-yfFuebouLI3Q7Zrl_k" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename= 'images/favicon.png') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename= 'js/scripts.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/styles.css') }}" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "YouTube Video Transcript and AI Answering App",
      "operatingSystem": "Web",
      "applicationCategory": "Education, Utility",
      "description": "Fetch YouTube video transcripts and ask AI questions about the video content using LLMs like OpenAI and Claude.",
      "url": "https://www.chatwithyoutube.info/",
      "offers": {
        "@type": "Offer",
        "price": "0.00",
        "priceCurrency": "USD"
      }
    }
  </script>
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
          "@type": "Question",
          "name": "How does the app fetch YouTube transcripts?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "The app fetches YouTube transcripts using the YouTube API, processes the transcript, and stores it in a vector database for AI-powered question answering."
          }
        }, {
          "@type": "Question",
          "name": "What AI models are used for answering questions?",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "The app uses models like OpenAI GPT and Claude to provide accurate answers based on the video transcripts."
          }
        }]
      }
  </script>
<!-- Clarity tracking code for https://www.chatwithyoutube.info/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "pv4ds7op48");</script>
</head>

<body>
  <div class="container rounded-4 shadow-lg py-4 mx-auto my-4 fade-in-up">
    <div class="mx-4">
      <img class="mx-auto d-block banner fade-in" src="{{ url_for('static', filename= 'images/logo.svg') }}"
        alt="WebApp Logo" />

      <form class="fade-in-up">
        <div class="form-check form-switch float-end mb-4">
          <input class="form-check-input" type="checkbox" id="darkModeSwitch" name="darkmode" checked>
          <label class="form-check-label" for="darkModeSwitch"><b>Dark Mode</b></label>
        </div>

        <div class="my-2 fade-in-up">
          <div class="ms-2 mb-1 d-flex align-items-center">
            <img class="label-img url-img" src="{{ url_for('static', filename= 'images/url.svg') }}" alt="URL Icon" />
            <label class="form-label ms-1 mb-0" for="url"><b>Youtube URL</b></label>
          </div>
          <input class="form-control" type="text" id="url" name="url"
            placeholder="Enter Youtube URL" />
        </div>
        <div class="d-flex justify-content-center fade-in-up">
          <button class="btn btn-primary btn-custom px-1" id="loadButton" name="action" value="load"><span
              id="buttonText" style="font-weight: bold;">Load</span><span class="spinner-border spinner-border-sm"
              id="buttonSpinner" style="display: none;"></span></button>
        </div>
        <div class="mb-2 fade-in-up">
          <div class="ms-1 mb-1 d-flex align-items-center">
            <img class="label-img prompt-img" src="{{ url_for('static', filename= 'images/prompt.png') }}"
              alt="Question Icon" />
            <label class="form-label ms-1 mb-0" for="prompt"><b>Prompt</b></label>
          </div>
          <textarea class="form-control textarea" id="prompt" name="prompt"
            placeholder="Enter Your Prompt"></textarea>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center fade-in-up">
          <div class="form-check me-3 mb-2">
            <input class="form-check-input" type="checkbox" id="gpt4o" name="models" value="chatgpt-4o-latest">
            <label class="form-check-label" for="gpt4o"><b>GPT 4o</b></label>
          </div>
          <div class="form-check me-3 mb-2">
            <input class="form-check-input" type="checkbox" id="gpt4" name="models" value="gpt-4-turbo-preview">
            <label class="form-check-label" for="gpt4"><b>GPT 4</b></label>
          </div>
          <div class="form-check me-3 mb-2">
            <input class="form-check-input" type="checkbox" id="claudeOpus" name="models"
              value="claude-3-opus-20240229">
            <label class="form-check-label" for="claudeOpus"><b>Claude 3 Opus</b></label>
          </div>
          <div class="form-check me-3 mb-2">
            <input class="form-check-input" type="checkbox" id="claudeSonnet" name="models"
              value="claude-3-sonnet-20240229">
            <label class="form-check-label" for="claudeSonnet"><b>Anthropic Claude 3 Sonnet</b></label>
          </div>
        </div>
        <div class="d-flex justify-content-center fade-in-up">
          <button type="button" class="btn btn-primary btn-custom mx-3 align-items-center justify-content-center px-1"
            id="micButton" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill"
              viewBox="0 0 16 16">
              <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"></path>
              <path
                d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5">
              </path>
            </svg>
          </button>
          <button class="btn btn-primary btn-custom font-weight-bold mx-3 px-1" id="generateButton" name="action"
            value="generate"><span id="buttonText" style="font-weight: bold;">Generate</span><span
              class="spinner-border spinner-border-sm" id="buttonSpinner" style="display: none;"></span></button>
        </div>
        <div id="responseDiv" class="fade-in">
        </div>
      </form>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="openModal" hidden>
    Open modal
  </button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalHeading">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <b><span id="modalContent"></span></b>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
